---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Main from "../components/Main.astro";
import GradientText from "../components/GradientText.astro";
import H1 from "../components/H1.astro";
---

<Layout title="Home | builtbylukas.dev" page="/">
	<Main>
		<H1>Hey. I'm
			<GradientText>Lukas!</GradientText>
		</H1>
		<div class="bg-gradient-to-br from-rose-600 to-rose-800 space-y-4 p-4 rounded-xl mb-8 border-2 border-rose-500">
			<p>
				I am a developer from <strong>Stuttgart, Germany.</strong> Currently studying at Stuttgart Media
				University & just started a full time <strong>internship.</strong>
			</p>
			<p>
				Using my free time to learn & build.
			</p>
			<p>
				<a href="about" class="underline">Find out more</a>
			</p>
		</div>
		<div>
			<h2 class="text-xl font-bold mb-2">What I'm learning</h2>
			<ul class="link-card-grid">
				<Card title="Web Apps" body="Interactive web apps using Next.js and React"/>
				<Card title="Content & SEO"
					  body="Growing content-heavy & SEO-optimized websites for local businesses and art galleries."/>
				<Card title="Mobile apps" body="Smooth experiences for mobile devices using React native"/>
			</ul>
		</div>
	</Main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		padding: 0;
	}

	code {
		font-size: 90%;
		text-decoration: underline;
		background: #755893;
		border-radius: 4px;
		padding: 2px;
	}
</style>
