---
---

<div
        class="prose dark:prose-invert
    text-zinc-300
    leading-6
      prose-h1:font-bold prose-h1:text-3xl
      prose-h2:text-lg
      prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
      prose-headings:text-white"
>
    <slot/>
</div>
