---
---

<div
        class="prose
    text-zinc-300
    prose-blockquote:text-white
    prose-code:text-white
    leading-6
      prose-h1:font-bold prose-h1:text-4xl prose-h1:tracking-tight
      prose-h2:text-lg
      prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
      prose-headings:text-white
      max-w-full"
>
    <slot/>
</div>
